# mod_url_re-write starts here

RewriteEngine on
RewriteBase /

# Exclude the 'backend/' path from redirection
RewriteCond %{REQUEST_URI} !^/backend/

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# doesn't apply to existing directories
RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in dir with a '.html' extension
RewriteCond %{REQUEST_FILENAME}\.html -f

# pages with '.html' are displayed in browser
RewriteRule ^(.*)$ $1.html [NC,L]

# Redirect index.html to the root domain
RewriteRule ^static_html/index\.html$ http://edenestatesmw.com/ [R=301,L]

# Redirects the static_html/ to root domain
RewriteCond %{REQUEST_URI} !^/static_html/
RewriteRule ^(.*)$ /static_html/$1 [L,QSA]

# 404 error page
ErrorDocument 404 /404.html

# 403 error page
ErrorDocument 403 /404.html

# 302 error page
ErrorDocument 302 /
