<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery ― Eden Estate</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/gallery.css">
    <link rel="shortcut icon" href="images/emblem.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <header class="section header">
        <img src="images/emblem.png" alt="Eden_Logo" id="logo">
        <div class="nav-bar"><ul>
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="blog">Blog</a></li>
        </ul>
        </div>
        <button id="book-now">Book Now</button>
    </header>
    <section class="section sect-one">
        <h1>Gallery</h1>
        <p>―The most Beautiful, indigenous Landscape in the City―</p>
    </section>
    <section class="section sect-two">
        <div class="img-cont">
            <div class="slide">
            <img src="images/apartments/001.JPG" alt="apartments">
            <img src="images/deluxe/001.jpg" alt="deluxe-room">
            <img src="images/apartment-lounge-two.jpg" alt="apartments">
            <img src="images/house-three.jpg" alt="cottages">
            <img src="images/cottages/007.jpg" alt="cottages">
            <img src="images/apartments/004.JPG" alt="apartments">
            <img src="images/apartments/007.JPG" alt="apartments">

            <img src="images/deluxe/005.jpg" alt="deluxe-room">
            <img src="images/deluxe/002.jpg" alt="deluxe-room">
            <img src="images/deluxe/004.jpg" alt="deluxe-room">
            <img src="images/apartments/002.JPG" alt="apartments">
            <img src="images/deluxe/003.jpg" alt="deluxe-room">
            <img src="images/cottages/006.jpg" alt="cottages">
            
            <img src="images/cottages/001.jpg" alt="cottages">
            <img src="images/apartments/006.JPG" alt="apartments">
            <img src="images/cottages/002.jpg" alt="cottages">
            <img src="images/cottages/003.jpg" alt="cottages">
            <img src="images/apartments/004.JPG" alt="apartments">
            <img src="images/deluxe/006.jpg" alt="deluxe-room">
            <img src="images/cottages/005.jpg" alt="cottages">

            <img src="images/apartment-two.JPG" alt="apartments">
            <img src="images/apartments/002.JPG" alt="apartments">
            <img src="images/deluxe/003.jpg" alt="deluxe-room">
            <img src="images/cottages/006.jpg" alt="cottages">
            </div>
        </div>
        <span>
        <h2>Explore Our <br>Luxurious Rooms</h2>
        <p>Indulge in luxury at Eden Estates with our Deluxe Rooms—sanctuaries of tranquility
            and sophistication. Elevate your experience in our spacious Studio-Loft Apartments,
            offering panoramic views and modern living spaces. For family getaways, our Family-Friendly
            Suites ensure a perfect blend of comfort and convenience. Make every stay
            extraordinary at Eden Estates & Resort.</p>
        <button>Book Now</button>
        </span>
        <br>
    </section>

    <section class="gallery">
        <img src="images/apartment-main-lounge.jpg" alt="gallery-img">
        <img src="images/house-three.jpg" alt="gallery-img">
        <img src="images/chef-bbq.jpg" alt="gallery-img">
        <img src="images/_HM85323.JPG" alt="gallery-img">
        <video src="videos/natureEEL-Reel3.mp4" autoplay muted loop></video>
        <img src="images/81PX00311.jpg" alt="gallery-img">
        <img src="images/81PX00291.jpg" alt="gallery-img">
        <img src="images/apartment-lounge-two.jpg" alt="gallery-img">
        <img src="images/ducks-in-pond.jpg" alt="gallery-img">
        <img src="images/outdoor-lit.jpg" alt="gallery-img">
        <video loop src="videos/Reel.mp4" autoplay muted></video>
        <img src="images/81PX00661.jpg" alt="gallery-img">
        <img src="images/deck-ls.JPG" alt="pool-deck">
        <img src="images/slice-of-pie.jpg" alt="gallery-img">
        <video autoplay muted loop src="videos/gentle-light-reel.mp4"></video>
        <img src="images/cottage-veranda.JPG" alt="gallery-img">
        <img src="images/wedding.jpg" alt="gallery-img">
        <img src="images/_HM85332.JPG" alt="gallery-img">
        <img src="images/slice-of-heaven.JPG" alt="gallery-img">
        <img src="images/81PX00148.jpg" alt="gallery-img">
        <img src="images/slicees.jpg" alt="gallery-img">
        <img src="images/81PX00155.jpg" alt="gallery-img">
        <video src="videos/Reel2.mp4" autoplay muted loop></video>
        <img src="images/81PX00146.jpg" alt="gallery-img">
        <img src="images/about-one.jpg" alt="gallery-img">
        <img src="images/81PX00287.jpg" alt="gallery-img">
        <img src="images/apartment-back -two.jpg" alt="gallery-img">
        <img src="images/81PX0415.jpg" alt="gallery-img">
        <img src="images/food-one.JPG" alt="gallery-img">
        <img src="images/81PX00647.jpg" alt="gallery-img">
    </section>

    <section class="section sect-contact">
        <div id="contact-form">
            <h2>Contact Us</h2>

            <form @submit.prevent="submitForm">
                <!-- <label for="name">Name:</label> -->
                <input v-model="contactInfo.name" placeholder="Your Name" type="text" id="name" required>
                <br>
                <!-- <label for="email">Email:</label> -->
                <input v-model="contactInfo.phone" placeholder="Phone" type="phone" id="phone" required>
                <!-- <br> -->
                <input v-model="contactInfo.email" placeholder="Your Email" type="email" id="email" required>
                <br><br><br>
                <label for="message">Leave Your Message:</label>
                <br><br>
                <textarea v-model="contactInfo.message" id="message" rows="4" required></textarea>
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <script src="scripts/contact-form.js"></script>
        <div class="side-img-form"></div>
    </section>
    <div class="section" id="wa-me">
        <a href="https://wa.me/+265984222331" target="_blank">
            <img src="images/whatsapp-round-icon.png" alt="WhatsApp">
        </a>
    </div>
    <footer class="section footer">
        <div class="addrs">
            <ul>
                <h2>Eden Estates & Resort</h2>
                <p>A Slice of Heaven―©2024</p>
                <li><b>Head Office:</b> Old-Airport Road, S117, Lilongwe</li>
                <li>Malawi, Africa</li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Contacts:</h2>
                <li><a href="mailto:info@edenestatesmw.com">Send Us an Email</a></li>
                <li><a href="tel:+265984222332">Call</a>―<a href="https://wa.me/+265984222331">WhatsApp</a></li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Policies:</h2>
                <li><a href="#">Bookings/Cancellation</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Socials</h2>
                <li><a href="#">
                    <img src="images/Facebook Round Black Icon.svg" alt="" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/instagram.png" alt="instagram-logo" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/linkedin_black_logo_icon_147114.png" alt="linkedin-logo" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/x-social-media-round-icon.png" alt="x-logo" width="20px" height="20px">
                </a></li>
                <li><br>
                Designed by <a href="https://github.com/johnlivingprooff" target="_blank">81PIXELS</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="scripts/full-page-animate.js"></script>
</body>
</html>