<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Written by John-Livngprooff -->
    <title>Eden Estates& Resort―A Slice of Heaven</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="shortcut icon" href="images/emblem.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <header class="section header">
        <img src="images/emblem.png" alt="Eden_Logo" id="logo">
        <div class="nav-bar"><ul>
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="blog">Blog</a></li>
        </ul>
        </div>
        <button id="book-now">Book Now</button>
    </header>
    <section class="section sect-one">
        <div class="top">
            <div id="booking-form">
                <h2>Book Your Stay</h2>
                <p>Required fields are followed by *</p>
        
                <form @submit.prevent="submitReservation">
                    <!-- <label for="name">Name:</label>
                    <input v-model="reservation.name" type="text" id="name" required>
        
                    <label for="email">Email:</label>
                    <input v-model="reservation.email" type="email" id="email" required> -->
        
                    <label for="checkin">Check-in Date: *</label><br>
                    <input v-model="reservation.checkin" type="date" id="checkin" required>
                        <br>
                    <label for="checkout">Check-out Date: *</label><br>
                    <input v-model="reservation.checkout" type="date" id="checkout" required>
                        <br>
                    <label for="guests">No. of guests *</label><br>
                    <select v-model="reservation.guests" id="guests" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <!-- Add more options as needed -->
                    </select>
                    <button type="submit">See options</button>
                </form>
            </div>
        </div>
        <script src="scripts/booking-form.js"></script>
    </section>
    <section class="section sect-two">
        <div class="side-img-cont">
            <!-- <img src="images/welcome-side.JPG" alt="WELCOME"> -->
        </div>
        <span>
            <h1>WELCOME TO<br>Eden Estate & Resort</h1>
            <p>We are an eco-tourism environment located on <br>
                the outskirts of Lilongwe City, that allows patrons <br>
                to enjoy the tranquillity of Nature, and a <br>
                peaceful getaway without having to leave the city.</p>
            <button id="explore"><a href="gallery">EXPLORE</a></button>
        </span>
    </section>
    <!-- accommodation options -->
    <section class="section sect-four"> 
        <div class="acc-box">
            <img src="images/deluxe-lamp.jpg" alt="Deluxe Room">
            <h3>standard <br>Deluxe Rooms</h3>
            <p>High-ceilinged and well-polished continental rooms. <br>
                Suitable for Romantic Getaways, and leisure retreats</p>
            <h4>From: <br><b>$95 per night</b></h4>
            <button id="book-now-room" >Book Now</button>
        </div>
        <div class="acc-box">
            <img src="images/cottage-veranda.JPG" alt="Deluxe Room">
            <h3>Two-bedroom <br>Family Cottages</h3>
            <p>Fully furnished and serviced 2-bedroom homes. <br>
                Suitable for all family gateways and team retreats.</p>
            <h4>Price: <br><b>$170 per night</b></h4>
            <button id="book-now-room">Book Now</button>
        </div>
        <div class="acc-box">
            <img src="images/apartment-two.JPG" alt="Deluxe Room">
            <h3>Studio-loft <br>Apartments</h3>
            <p>Fully furnished and serviced studio loft apartment. <br>
                Suitable for a relaxation or work getaway.</p>
            <h4>From: <br><b>$110 per night</b></h4>
            <button id="book-now-room">Book Now</button>
        </div>
    </section>
    <section class="section sect-three">
        <div></div>
    </section>
    <section class="section sect-contact">
        <div id="contact-form">
            <h2>Contact Us</h2>

            <form @submit.prevent="submitForm">
                <!-- <label for="name">Name:</label> -->
                <input v-model="contactInfo.name" placeholder="Your Name" type="text" id="name" required>
                <br>
                <!-- <label for="email">Email:</label> -->
                <input v-model="contactInfo.phone" placeholder="Phone" type="phone" id="phone" required>
                <!-- <br> -->
                <input v-model="contactInfo.email" placeholder="Your Email" type="email" id="email" required>
                <br><br><br>
                <label for="message">Leave Your Message:</label>
                <br><br>
                <textarea v-model="contactInfo.message" id="message" rows="4" required></textarea>
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <script src="scripts/contact-form.js"></script>
        <div class="side-img-form"></div>
    </section>
    <div class="section" id="wa-me">
        <a href="https://wa.me/+265984222331" target="_blank">
            <img src="images/whatsapp-round-icon.png" alt="WhatsApp">
        </a>
    </div>
    <footer class="section footer">
        <div class="addrs">
            <ul>
                <h2>Eden Estates & Resort</h2>
                <p>A Slice of Heaven―©2024</p>
                <li><b>Head Office:</b> Old-Airport Road, S117, Lilongwe</li>
                <li>Malawi, Africa</li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Contacts:</h2>
                <li><a href="mailto:info@edenestatesmw.com">Send Us an Email</a></li>
                <li><a href="tel:+265984222332">Call</a>―<a href="https://wa.me/+265984222331">WhatsApp</a></li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Policies:</h2>
                <li><a href="#">Bookings/Cancellation</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Socials</h2>
                <li><a href="#">
                    <img src="images/Facebook Round Black Icon.svg" alt="" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/instagram.png" alt="instagram-logo" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/linkedin_black_logo_icon_147114.png" alt="linkedin-logo" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/x-social-media-round-icon.png" alt="x-logo" width="20px" height="20px">
                </a></li>
            </ul>
        </div>
        <div class="eite-one">
            <br>
            <span>
                Designed by <a href="https://github.com/johnlivingprooff" target="_blank">81PIXELS</a>
            </span>
        </div>
    </footer>
    <script src="scripts/full-page-animate.js"></script>
</body>
</html>