<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Written by John-Livngprooff -->
    <title>Privacy Policies ― Eden Estates</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/policies.css">
    <link rel="shortcut icon" href="images/emblem.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <header class="section header">
        <img src="images/emblem.png" alt="Eden_Logo" id="logo">
        <div class="nav-bar"><ul>
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="blog">Blog</a></li>
        </ul>
        </div>
        <a href="booking">
            <button id="book-now">Book Now</button>
        </a>
    </header>
    <section class="sect-one">
        <h2>OUR TERMS/Policy</h2>
        <p>
            <h3>Standard Admission Policy</h3>
            We are dedicated to ensuring a safe and enjoyable experience for all our guests. Please review our admissions policy for important information:
           
            <h4>Health/Safety:</h4>
            Your well-being is our top priority.
            We strictly adhere to all precautionary measures recommended 
            by health authorities, including the Ministry of Health guidelines.
           
            <h4>Check-In/Check-Out:</h4>
            <span class="checked">Check-In Time: 1200hrs – 2200hrs Check Out Time: 1500hrs</span> <br><br>

            Early check-In or Late-Check out is subjected to bed/room 
            availability on the relevant day, to be reconfirmed with the 
            front office staff. A levy is chargeable for early check-in 
            from 0700 to 1200 hours and late check-out from 1200 to 1800 hours. 
            Room not occupied by 2200 hours will be seen as No Show, unless prior 
            arrangement has been made.

            <h4>Reservation Policy:</h4>
            A valid ID and credit card are required at check-in. 
            The credit card must match the name on the reservation.
            To secure your reservation, a deposit may be required.

            <h4>Cancellation Policy:</h4>
            Please refer to your booking confirmation for our 
            cancellation policy. Late cancellations or no-shows may 
            result in charges.
        </p><br><br>
        <p>
            <h3>Payment Policy</h3>
            <span class="checked">For Peak Season [July 1 – January 13], all reservations payments are non-refundable</span> <br><br>

            <b>Guarantee by credit card:</b> Reservation is allowed to modify/cancel online on your own before 48 hours prior 
            to the arrival date and no cancellation fees. Should you wish to make full payment in advance, please contact our 
            Central Reservation to discuss your details.

            <br><br><b>Cancellation/No Show Policy:</b> Once a reservation is confirmed, please notify us by email of any 
            cancellation or modification of the booking at least 3 days (48 hours) before arrival for FIT 
            (Free Independent Traveler) bookings and 2 weeks before arrival for Group bookings in order to avoid a charge of 1 night’s stay to be imposed.


            <br><br><b>Last-minute reservations:</b> We would consider a reservation as last-minute 
            when it is made a day before arrival. Once a last-minute reservation is confirmed, please 
            notify us by e-mail of any cancellation or modification of the booking at least 3 hours before 
            arrival for FIT bookings only, in order to avoid a charge of 1 night’s stay to be imposed. All 
            guests must produce a valid passport/National ID upon Check-in: For any early Check-out, there will be 
            no penalty to be imposed. In an event of a guest No Show, a fee of one night’s rate will be charged
        </p><br>
        <h3>Other Terms/Policies</h3>
        <p>
            <h4>Guest Conduct:</h4>
            Guests are expected to conduct themselves in a respectful and considerate manner. Any disruptive behavior may result in eviction without refund.
            <h4>Facility Use:</h4>
            The use of hotel facilities, including the pool, and recreational areas, is at the user's risk.
            Parents/guardians are responsible for the supervision of their children in all areas of the hotel.
            <h4>Parking:</h4>
            Vehicles are parked at the owner's risk. Please ensure your vehicle is securely locked.
        </p>
            <h3>DISCLAIMER:</h3>
            <p>
            As all possible measures have been put in place, the management of Eden Estates is not responsible for the tenant’s and visitors’ personal safety and property. Vehicles are parked at the owner's risk. The use of facilities is at the user’s risk.
            By staying at Eden Estates, you acknowledge and agree to abide by our admissions policy and disclaimer. We appreciate your cooperation and wish you a pleasant stay! For any inquiries, please fill the contact form below, or the WhatsApp icon at the bottom-right
            </p>

    </section>
    <section class="section sect-contact">
        <div id="contact-form">
            <h2>Contact Us</h2>

            <form @submit.prevent="submitForm">
                <!-- <label for="name">Name:</label> -->
                <input v-model="contactInfo.name" placeholder="Your Name" type="text" id="name" required>
                <br>
                <!-- <label for="email">Email:</label> -->
                <input v-model="contactInfo.phone" placeholder="Phone" type="phone" id="phone" required>
                <!-- <br> -->
                <input v-model="contactInfo.email" placeholder="Your Email" type="email" id="email" required>
                <br><br><br>
                <label for="message">Leave Your Message:</label>
                <br><br>
                <textarea v-model="contactInfo.message" id="message" rows="4" required></textarea>
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <script src="scripts/contact-form.js"></script>
        <div class="side-img-form"></div>
    </section>
    <div class="section" id="wa-me">
        <a href="https://wa.me/+265984222331" target="_blank">
            <img src="images/whatsapp-round-icon.png" alt="WhatsApp">
        </a>
    </div>
    <footer class="section footer">
        <div class="addrs">
            <ul>
                <h2>Eden Estates & Resort</h2>
                <p>A Slice of Heaven―©2024</p>
                <li><b>Head Office:</b> Old-Airport Road, S117, Lilongwe</li>
                <li>Malawi, Africa</li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Contacts:</h2>
                <li><a href="mailto:info@edenestatesmw.com">Send Us an Email</a></li>
                <li><a href="tel:+265984222332">Call</a>―<a href="https://wa.me/+265984222331">WhatsApp</a></li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Policies:</h2>
                <li><a href="policies">Bookings/Cancellation</a></li>
                <li><a href="policies">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="f-content">
            <ul>
                <h2>Socials</h2>
                <li><a href="#">
                    <img src="images/Facebook Round Black Icon.svg" alt="" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/instagram.png" alt="instagram-logo" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/linkedin_black_logo_icon_147114.png" alt="linkedin-logo" width="20px" height="20px">
                </a>
                <a href="#">
                    <img src="images/x-social-media-round-icon.png" alt="x-logo" width="20px" height="20px">
                </a></li>
                <li><br>
                    Designed by <a href="https://github.com/johnlivingprooff" target="_blank">81PIXELS</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="scripts/full-page-animate.js"></script>
</body>
</html>
<!-- God Did -->
