/* Mobile viewport*/
@media only screen and (max-width: 799px) {
    .sect-one {
        display: flex;
    }

    .top {
        background-image: url(../images/restaurant-side.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: block;
    }

    #booking-form {
        margin-top: 50px;
        position: absolute;
        left: 5%;
        right: 5%;
        background-color: rgba(231, 255, 152, 0.366);
        z-index: 4500;
        padding: 25px 45px 25px 25px;
        color: beige;
        p{
            font-size: 12px;
            color: #a6a5a5;
            margin-top: 0;
        }
    }

    #booking-form span {
        display: block;
        label {
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
        }
        input {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 10px;
            padding-right: 5px;
            text-transform: uppercase;
            letter-spacing: 3px;
            display: block;
        }
        select {
            width: 25%;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 5px;
            display: flex;
            margin-bottom: 25px;
        }

        button {
            width: 65%;
            margin-left: 40%;
            padding-top: 12px;
            padding-bottom: 10px;
            text-transform: uppercase;
            background-color: #001a56;
            color: beige;
            border: none;
            transition: all 0.3s ease;
        }
    }

    #booking-form span button:hover {
        background-color: beige;
        color: #001a56;
    }

    .sect-two {
        display: block;
        margin-bottom: 0;
        margin-top: 0;
    }

    .sect-two span {
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .sect-two span h1 {
        text-transform: uppercase;
        font-size: 27px;
        font-weight: 550;
        letter-spacing: 2px;
    }

    .sect-two span p {
        line-height: 20px;
        font-size: 15px;
    }

    #explore  {
        margin-top: 20px;
        padding: 10px 20px;
        letter-spacing: 10px;
        font-size: 15px;
        border: none;
        background-color: #001a56;
        transition: transform 0.3s ease;
        a {
            text-decoration: none;
            border: none;
            color: beige;
            outline: none;
        }
    }

    #explore:hover {
        transform: scale(1.1);
    }

    .side-img-cont {
        display: none;
    }

    .sect-four {
        display: block;
        flex-direction: row;
        background-repeat: no-repeat;
        background-image: url(../images/sect-four.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: solid #ffffff 5px;
        width: 100%;
        justify-content: center;
        max-width: 100%;
    }

    .acc-box {
        display: block;
        margin: 25px 25px;
        width: auto;
        border: #dce3c8 solid 1px;
        border-radius: 4px;
        padding: 10px;
        padding-bottom: 15px;
        transition: transform 0.3s ease;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .acc-box img {
        height: 260px;
        margin: -12px;
    }

    .acc-box h3 {
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 0;
        margin-top: 45px;
        color: #464646;
        padding-left: 25px;
    }

    .acc-box p {
        margin-top: 25px;
        font-size: 12px;
        font-style: italic;
        padding-left: 25px;
        text-align: justify;
    }

    .acc-box h4 {
        font-size: 15px;
        margin-top: 25px;
        padding-left: 25px;
        font-weight: 250;
        text-transform: uppercase;
        b {
            font-size: 18px;
            font-style: italic;
            text-transform: lowercase;
            color: #464646;
        }
    }

    .acc-box:hover {
        transform: scale(1.1);
        box-shadow: 0 0 100px rgba(20, 20, 39, 0.336);
    }

    #book-now-room {
        float: right;
        height: 50px;
        width: 150px;
        text-align: center;
        padding-top: 4px;
        position: relative;
        font-size: 17px;
        color: beige;
        background-color: #001a56;
        border: none;
        margin-top: -50px;
        margin-right: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: color 0.4s ease;
        transition: background-color 0.3s ease;
        transition: transform 0.3s ease;
    }

    #book-now-room:hover {
        background-color: beige;
        color: #001a56;
        transform: scale(1.08);
    }

    .sect-three {
        background-image: url(../images/the-grid@0.5x.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .sect-three div {
        width: 100%;
        height: 500px;
    }
}

/* Desktop viewport*/
@media only screen and (min-width: 800px) {
    .sect-one {
        display: flex;
    }

    .top {
        background-image: url(../images/restaurant-side.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: block;
    }

    #booking-form {
        position: absolute;
        width: 280px;
        margin-top: 150px;
        margin-left: 150px;
        background-color: rgba(231, 255, 152, 0.366);
        z-index: 5000;
        padding: 25px 45px 25px 25px;
        color: beige;
        p{
            font-size: 12px;
            color: #a6a5a5;
            margin-top: 0;
        }
    }

    #booking-form span {
        display: block;
        label {
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
        }
        input {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 10px;
            padding-right: 5px;
            text-transform: uppercase;
            letter-spacing: 3px;
            display: block;
        }
        select {
            width: 25%;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 5px;
            display: flex;
            margin-bottom: 25px;
        }

        button {
            width: 65%;
            margin-left: 40%;
            padding-top: 12px;
            padding-bottom: 10px;
            text-transform: uppercase;
            background-color: #001a56;
            color: beige;
            border: none;
            transition: all 0.3s ease;
            a {
                text-decoration: none;
                color: beige;
            }
        }
    }

    #booking-form span button:hover {
        background-color: beige;
        color: #001a56;
        a {
            text-decoration: none;
            color: #001a56;
        }
    }

    .sect-two {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 0;
    }

    .sect-two span {
        display: block;
        padding-left: 80px;
        padding-top: 50px;
    }

    .sect-two span h1 {
        text-transform: uppercase;
        font-size: 70px;
        font-weight: 550;
        letter-spacing: 2px;
    }

    .sect-two span p {
        line-height: 30px;
        font-size: 20px;
    }

    #explore {
        margin-top: 20px;
        padding: 10px 20px;
        letter-spacing: 10px;
        font-size: 15px;
        border: none;
        background-color: #001a56;
        transition: transform 0.3s ease;
        a {
            text-decoration: none;
            border: none;
            outline: none;
            color: beige;
        }
    }

    #explore:hover {
        transform: scale(1.1);
    }

    .side-img-cont {
        width: 70%;
        height: 850px;
        background-image: url(../images/fishing_apt.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 1500px;
        margin-top: 0;
        margin-left: 0;
        transition: background-size 0.5s ease;
    }

    .side-img-cont:hover {
        background-size: 1300px;
    }

    .sect-four {
        display: flex;
        flex-direction: row;
        background-repeat: no-repeat;
        background-image: url(../images/sect-four.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: solid #ffffff 5px;
        width: 100%;
        justify-content: center;
        max-width: 100%;
    }

    .acc-box {
        width: 400px;
        margin: 30px 5px;
        display: block;
        border: #dce3c8 solid 1px;
        border-radius: 4px;
        padding: 10px 10px 15px 10px;
        transition: transform 0.3s ease;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .acc-box img {
        width: 500px;
        margin: -12px;
    }

    .acc-box h3 {
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 0;
        margin-top: 45px;
        color: #464646;
        padding-left: 25px;
    }

    .acc-box p {
        margin-top: 25px;
        font-size: 12px;
        font-style: italic;
        padding-left: 25px;
        text-align: justify;
    }

    .acc-box h4 {
        font-size: 15px;
        margin-top: 25px;
        padding-left: 25px;
        font-weight: 250;
        text-transform: uppercase;
        b {
            font-size: 18px;
            font-style: italic;
            text-transform: lowercase;
            color: #464646;
        }
    }

    .acc-box:hover {
        transform: scale(1.1);
        box-shadow: 0 0 100px rgba(20, 20, 39, 0.336);
    }

    #book-now-room {
        float: right;
        height: 50px;
        width: 150px;
        text-align: center;
        padding-top: 4px;
        position: relative;
        font-size: 17px;
        color: beige;
        background-color: #001a56;
        border: none;
        margin-top: -50px;
        margin-right: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: color 0.4s ease;
        transition: background-color 0.3s ease;
        transition: transform 0.3s ease;
    }

    #book-now-room:hover, #book-now-room a:hover {
        background-color: beige;
        color: #001a56;
        transform: scale(1.08);
    }

    #book-now-room a {
        text-decoration: none;
        color: rgb(135, 135, 135);
    }

    .sect-three {
        background-image: url(../images/the-grid-ls.jpg);
        background-attachment: fixed;
        background-size: cover;

    }

    .sect-three div {
        width: 100%;
        height: 500px;
    }

    .playpark {
        background-image: url(../images/81PX00155.jpg);
        background-size: cover;
        height: 70vh;
        margin: 0;
    }

    .playpark h1 {
        position: absolute;
        z-index: 1000;
        color: #fff;
        margin: 100px 150px 0 150px;
        font-size: 150px;
        text-shadow: 10px 10px 40px #666;
    }

    .playpark div video {
        width: 100%;
        height: 70vh;
        object-fit: cover;
        transition: all 0.3s ease;
    }

    .playpark h1:hover {
        transition: all 0.3s ease;
        filter: blur(30px);
    }
    
    .playpark div video:hover, .playpark h1:hover {
        transition: all 0.3s ease;
        /* filter: blur(30px); */
    }

    /* Hide the default browser controls */
    .playpark div video::-webkit-media-controls {
        display: none;
    }

    .playpark span h1 {
        margin-top: -50px;
        filter: blur(10px);
    }
}

/* Mobile viewport for acc-box */
@media only screen and (max-width: 400px) {
    .sect-one {
        display: flex;
    }

    .top {
        background-image: url(../images/restaurant-side.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: block;
    }

    #booking-form {
        margin-top: 50px;
        position: absolute;
        top: 150px;
        left: 5%;
        right: 5%;
        background-color: rgba(231, 255, 152, 0.366);
        z-index: 4500;
        padding: 25px 45px 25px 25px;
        color: beige;
        p{
            font-size: 12px;
            color: #a6a5a5;
            margin-top: 0;
        }
    }

    #booking-form form {
        display: block;
        label {
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
        }
        datepicker {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 10px;
            padding-right: 5px;
            text-transform: uppercase;
            letter-spacing: 3px;
            display: block;
        }
        select {
            width: 25%;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 5px;
            display: flex;
            margin-bottom: 25px;
        }

        button {
            width: 65%;
            margin-left: 40%;
            padding-top: 12px;
            padding-bottom: 10px;
            text-transform: uppercase;
            background-color: #001a56;
            color: beige;
            border: none;
            transition: all 0.3s ease;
        }
    }

    #booking-form form button:hover {
        background-color: beige;
        color: #001a56;
    }

    .sect-two {
        display: block;
        margin-bottom: 0;
        margin-top: 0;
    }

    .sect-two span {
        display: block;
        padding: 50px 30px;
        text-align: center;
    }

    .sect-two span h1 {
        text-transform: uppercase;
        font-size: 27px;
        font-weight: 550;
        letter-spacing: 2px;
    }

    .sect-two span p {
        line-height: 20px;
        font-size: 15px;
    }

    #explore {
        margin-top: 20px;
        padding: 10px 20px;
        letter-spacing: 10px;
        font-size: 15px;
        border: none;
        background-color: #001a56;
        transition: transform 0.3s ease;
        a {
            text-decoration: none;
            border: none;
            color: beige;
            outline: none;
        }
    }

    #explore:hover {
        transform: scale(1.1);
    }

    .side-img-cont {
        display: none;
    }

    .sect-four {
        display: block;
        background-repeat: no-repeat;
        background-image: url(../images/sect-four.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        border-bottom: solid #ffffff 5px;
        width: 100%;
        justify-content: center;
        padding: auto 15px ;
    }

    .acc-box {
        display: block;
        width: auto;
        height: auto;
        margin: 25px 25px;
        border: #dce3c8 solid 1px;
        border-radius: 4px;
        padding-bottom: 15px;
        transition: transform 0.3s ease;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .acc-box img {
        display: none;
    }

    .acc-box h3 {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 15px;
        color: #464646;
    }

    .acc-box p {
        margin-top: 10px;
        font-size: 11px;
        line-height: 16px;
        font-style: italic;
        text-align: left;
    }

    .acc-box h4 {
        font-size: 15px;
        margin-top: 25px;
        padding-left: 25px;
        font-weight: 250;
        text-transform: uppercase;
        b {
            font-size: 18px;
            font-style: italic;
            text-transform: lowercase;
            color: #464646;
        }
    }

    .acc-box:hover {
        transform: scale(1.1);
        box-shadow: 0 0 100px rgba(20, 20, 39, 0.336);
    }

    #book-now-room {
        width: 100px;
        height: 30px;
        padding: 10px 10px;
        right: 5%;
        top: -2%;
        text-align: center;
        position: relative;
        font-size: 10px;
        color: beige;
        background-color: #001a56;
        border: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: color 0.4s ease;
        transition: background-color 0.3s ease;
        transition: transform 0.3s ease;
    }

    #book-now-room:hover {
        background-color: beige;
        color: #001a56;
        transform: scale(1.08);
    }

    .sect-three {
        background-image: url(../images/the-grid-ls.jpg);
        background-attachment: fixed;
        background-size: cover;

    }

    .sect-three div {
        width: 100%;
        height: 500px;
    }
}
