body {
    font-family: 'PT Serif', serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px #d5cdd4 solid;
    padding-bottom: 20px;
    position: relative;
    flex-wrap: row wrap;
}

.section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}

#logo {
    width: 80px;
    height: 80px;
    margin-left: 140px;
    margin-top: 15px;
    transition: transform 0.5s ease;
    z-index: 500;
}

#logo:hover {
    transform: scale(1.1);
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    margin-top: 32px;
    position: absolute;
    margin-right: 350px;
    right: 0;
    z-index: 450;
    li {
        margin-right: 40px;
        flex-wrap: row wrap;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 16px;
        transition: color 0.3s ease;
    }
}

.nav-bar li:hover {
    color: #d0ee3a;
}

#book-now {
    height: 50px;
    width: 150px;
    text-align: center;
    padding-top: 4px;
    position: relative;
    font-size: 17px;
    color: beige;
    background-color: #001a56;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    margin-left: 1000px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.4s ease;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

#book-now:hover {
    background-color: beige;
    color: #001a56;
    transform: scale(1.08);
}

.footer {
    padding-top: 25px;
    position: relative;
    bottom: 0;
    width: 100%;
    /* border-top: #d5cdd4 1px solid; */
    display: flex;
    background-color: #001a56;
    color: #d5cdd4;
}

.addrs ul {
    list-style-type: none;
    margin-left: 90px;
    margin-bottom: 50px;
    h2 {
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 15px;
    }
    b {
        font-weight: 450;
        text-transform: uppercase;
    }
    li {
        margin-bottom: 5px;
        font-size: 10px;
        padding-right: 15px;
    }
}

.f-content ul {
    list-style-type: none;
    margin-top: 50px;
    margin-left: 70px;
    h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 550;
        margin-bottom: 5px;
    }
    li a {
        font-size: 12px;
        margin-bottom: 3px;
        text-decoration: none;
        color: #d5cdd4;
        transition: color 0.5s ease;
        margin-right: 3px;
    }

    b {
        margin-top: 300px;
    }
}

.f-content ul li a:hover {
    color: #d9ee72;
}

.f-content span {
    font-size: 14px;
    margin-left: 250px;
    padding-top: 150px;
    a {
        color: #d5cdd4;
    }
}

.f-content span a:hover {
    color: #d9ee72;
}

#wa-me {
    right: 50px;
    bottom: 5%;
    position: fixed;
    z-index: 10000;
}

#wa-me img {
    width: 100px;
    transition: transform 0.3s ease;
}

#wa-me img:hover {
    transform: scale(1.3);
}

.f-content li img {
    filter: invert(100%);
}